.about {
  padding-bottom: 2rem;

  &_bio-image {
    height: 45vh;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url("../imgs/model.jpg") center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-bottom: 2rem;
    }
  }

  &_bio {
    width: 80%;
    text-align: center;

    .text-secondary {
      padding-bottom: 1rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;

    &_job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;

      h2,
      h3 {
        margin: 0.7rem 0;
      }

      h4 {
        margin: 0.4rem 0;
      }

      ul {
        margin: 0.4rem 0;
        padding-left: 1rem;
      }

      li {
        padding: 0.2rem;
      }
    }
  }

  .study {
    width: 20vw;
    margin: 2rem auto 0 auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;

    &_serf {
      position: relative;
      overflow: hidden;
      cursor: pointed;

      h3 {
        margin: 0.5rem 0;
      }

      img {
        width: 5.5rem;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: rotate(-90deg) translate(3.5rem, 4rem);
  }
}
